<!DOCTYPE html>
<html>
<head>
    <title>CareerX Assessment</title>
</head>
<body>

<h1>AI Engineer Assessment</h1>

<form action="/dashboard" method="POST">

    <h3>Do you know Python?</h3>
    <select name="python">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>

    <br><br>

    <h3>Do you know SQL?</h3>
    <select name="sql">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>

    <br><br>

    <h3>Do you know NumPy?</h3>
    <select name="numpy">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>

    <br><br>

    <h3>Do you know Pandas?</h3>
    <select name="pandas">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>

    <br><br>

    <h3>Do you know Machine Learning?</h3>
    <select name="ml">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>

    <br><br>

    <button type="submit">
        Analyze Skills
    </button>

</form>

</body>
</html>