<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareerX</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="hero">

        <h1>CareerX</h1>

        <h2>AI Powered Employability Platform</h2>

        <p>
            Analyze Skills • Discover Gaps • Build Career Roadmaps
        </p>

        <p style="margin-top:15px;color:#38BDF8;">
            Powered by AI & Industry Intelligence
        </p>

        <a href="/target">
            <button>
                Start Free Assessment
            </button>
        </a>

    </div>

</body>
</html>